.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B283D;
    border: 2px solid #000000;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 80vw;
}

.app-about h1 {
    color: #B8D2CF;
    font-size: 3vh;
}

.app-about p {
    color: #B8D2CF;
    font-size: 1.5vh;
}

.creators-about {
    display: flex;
    flex-direction: row;
    gap: 6vw;;
    width: 80vw;
    align-items: center;
    justify-content: center;

}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40vw;
    background-color: #1B283D;
    border: 2px solid #000000;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.about-card h3 {
    color: #B8D2CF;
    font-size: 3vh;
}

.about-card p {
    color: #B8D2CF;
    font-size: 2vh;
    
}

.github {
    height: 7vh
}

.about-img {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    margin: 10px;
}

@media screen and (max-width: 768px){
    .creators-about {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 1vh;
    }
    .about-card {
        width: 80vw;
    }
}