p {
    font-size: 1.5vh;
    color: #fff;
    text-align: center;

}

h1 {
    font-size: 3vh;
    color: #fff;
    text-align: center;

}

.creator-board label {
    font-size: 2vh;
    background-color: #FFC159;
    color: black;
    text-align: center;
    margin: 3vw;
    padding: 0.75vw;
    font-size: 1.5vh;
}

.creator-board {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.creator-header {
    display: flex;
    justify-content: flex-end;
    margin-top: 6vh;
    margin-right: 6vh;
}

.creator-identity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1B283D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 5vw;

}

.creator-left img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
}

.creator-left {
    display: flex-start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creator-right {
    display: flex-end;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vh;
    justify-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.creator-bio {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 2vw;
    padding: 2vw;
}

.github-icon {
    width: 1.5vw;
    height: auto;


}

.creator-posts {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B283D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 5vw;
}

.creator-posts h1 {
    font-size: 3vh;
    color: #fff;
    text-align: center;

}

.creator-post-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1B283D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80vw;
}

.creator-post-card img {
    width: 30vw;
    height: auto;
    border-radius: 10px;
    margin: 3vw;

}
.creator-post-card h3 {
    font-size: 2vh;
    color: #fff;
    text-align: center;
}


.creator-post-card:hover {
    background-color: #2E3E50;
    transition: 0.5s;
}

.creator-buttons-board {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 4vh;

}

.addtofav {
    height: 4vh;
}

.fav-board {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B283D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    gap: 5vw;
}

.fav-card img {
    width: 30vw;
    height: auto;
    border-radius: 10px;
    margin: 3vw;
}

.fav-board h3 {
    font-size: 2vh;
    color: #fff;
    text-align: center;

}

.fav-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1B283D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80vw;
}

.fav-card:hover {
    background-color: #2E3E50;
    transition: 0.5s;
}

