.SignupPage {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 2vh;
    width: 60vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.SignupPage h1 {
    color: #B8D2CF;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;
}

.SignupPage p {
    color: #1B283D;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;

}

.header {
    border-radius: 10px;
    background-color: #1B283D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 5vw;
    margin: 0.5vh;
}

.SignupPage label {
    color: #B8D2CF;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 2vh;
}

.SignupPage form {
    border-radius: 10px;
    display: flex;
    background-color: #1B283D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.SignupPage input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #B8D2CF;
}

.SignupPage button {
    flex-direction: start;
    border: none;
    border-radius: 10px;
    background-color: #FFC159;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.SignupPage button:hover {
    background-color: #eac078; 
}




.LoginPage {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 2vh;
    width: 60vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.LoginPage h1 {
    color: #B8D2CF;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;
}

.LoginPage p {
    color: #1B283D;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;

}

.LoginPage form {
    border-radius: 10px;
    display: flex;
    background-color: #1B283D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.LoginPage input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #B8D2CF;
}

.LoginPage button {
    flex-direction: start;
    border: none;
    border-radius: 10px;
    background-color: #FFC159;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.LoginPage button:hover {
    background-color: #eac078; 
}

.signup-link {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 0px;
}

.link-styles {
    color: #1B283D;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;
}

.link-styles:visited {
    color: #1B283D; 
}

.UpdatePostPage {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 2vh;
    width: 60vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.UpdatePostPage h1 {
    color: #B8D2CF;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;
}

.UpdatePostPage p {
    color: #1B283D;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;

}

.UpdatePostPage form {
    border-radius: 10px;
    display: flex;
    background-color: #1B283D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.UpdatePostPage input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #B8D2CF;
}

.UpdatePostPage textarea {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #B8D2CF;
}

.UpdatePostPage button {
    border: none;
    border-radius: 10px;
    background-color: #FFC159;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}
button:hover {
    background-color: #eac078; 
}


.edit-profile {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 2vh;
    width: 60vw;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.edit-profile h1 {
    color: #B8D2CF;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;
}

.edit-profile p {
    color: #1B283D;
    text-align: center;
    margin: 0;
    padding: 10px;
    size: 3vh;

}

.edit-profile form {
    border-radius: 10px;
    display: flex;
    background-color: #1B283D;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.edit-profile input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #B8D2CF;
}

.edit-profile button {
    border: none;
    border-radius: 10px;
    background-color: #FFC159;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}



button:hover {
    background-color: #eac078; 
}



