body {
    margin: 0;
    padding: 0;
    background: url("../img/background.png") no-repeat center center fixed;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

.home {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.cover {
    display: flex;
    flex-direction: column;
    width: 100vw;

}