.navbar {

  position: sticky;
  top: 0;
  left: 0;
  width: 99%;
  background-color: #a2a4a87c;
  padding: 5px;
  border-radius: 10px;
  padding: 2px 5px; 
  display: flex; 
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
}

.nav-links {
  list-style: none;
 
}

.nav-links li {
  display: inline-block;

}


.nav-links li a {
  color: #000000;
  text-decoration: none;

}

.nav-links li button {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.nav-links li button:hover {
  transform: translateY(-2px);
}

.logo img {
  width: 60px;
  height: auto;
}
