.postlist-container {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensure all containers stretch to the same height */
    border-radius: 10px;
    width: 80vw; /* Adjusted width to 80% of the viewport width */
    max-width: 1000px; /* Added max-width to prevent container from becoming too wide */
    margin: 20px auto; /* Centering the container */
    padding: 20px;
    gap: 20px;
}



.post-card {
    background-color: #1B283D; /* Set background color to white */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.964);
    width: calc(50% - 20px); /* Adjusted width to take up half of the container minus margin */
    margin-bottom: 20px; /* Added margin-bottom */
    display: flex; /* Ensure content inside the card stretches */
    flex-direction: column; /* Content stacks vertically */
}

.post-card img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Ensure images fit within rounded corners */
}
.post-card h2 {
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.club-info {
    padding: 10px;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
}

.post-content button {
    border: none;
    border-radius: 10px;
    background-color: "#FFC159";
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.post-content button:hover {
    background-color: "#FFC159"
    /* Orange on hover */
}


@media only screen and (max-width: 768px) {
    .post-card {
        width: calc(100% - 20px);
        /* Adjusted width to take up full width minus margin */
    }
}