.post-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #1B283D;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

.btn {
   
    border: none;
    border-radius: 10px;
    background-color: #FFC159;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}



.post-body {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: center;
    margin-top: 20px;
    background-color: #1B283D;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    gap: 2vw;
    align-items: flex-start;


}

.post-left {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 2vh;
    padding-bottom: 2vh;
    align-items: center;
}

.screenshot {
    width: 40vw;
}

.post-right {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-bottom: 3vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: sticky;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.post-author {
    width: 80%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}

.post-author h3 {
    font-size: larger;
}

.author-job {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    align-content: center;
}

.addtofav-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
    width: 100%;
}

.addtofav {
    height: 4vh;
    display: flex;
}

.post-author img {
    width: 10vw;
    border-radius: 50%;
    margin-bottom: 2vh;
}

.post-informations a {
    margin-right: 2vw;
}

.post-informations {
    width: 80%;
    margin-top: 2vh;
    text-align: center;
padding-bottom: 2vh;
    align-items: center;
    border-bottom: 1px solid black;
}

.post-informations h2 {
    margin-bottom: 2vh;
    color: white;

}

.post-informations label {
    background-color: #FFC159;
    color: black;
    padding: 4px;
    border-radius: 5px;
    font-size: small;
}

.comments-section {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comment-form textarea {
    width: 100%;
    height: 5vh;

    border-radius: 10px;

}

.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 1vw;
}

.comment {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 2vh;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
    width: 90%;
}

.preview-container {
    max-width: 40vw;
    overflow-x: auto;
}



